<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training</title>
    <style>
        body { font-family:calibri; font-size:11pt}
        li { color : blue; }
        h1 { color : red;}
    </style>
    <script>
        function showContact() {
            alert("9059057000");
        }
    </script>
</head>
<body>
<h1>{{title}}</h1>
Provides information about courses, batches and faculty.
<p></p>
Here are important courses:

<ul>
    <li>Python</li>
    <li>Data Science With Python</li>
    <li>Java EE </li>
</ul>
<button onclick="showContact()">Show Contact</button>
<hr/>
{{now}}

</body>
</html>