<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <style>
        body {font-family:calibri;font-size:11pt;}
        .banner { color:white; background-color:maroon;
                  font-size:20pt;font-family:calibri;font-weight:bold}
        .menu {background-color:silver;
                  font-size:12pt;font-family:calibri;font-weight:bold}
    </style>
</head>
<body>
<div class="banner">Students</div>
<div class="menu">
   [<a href="/training/studenthome">Home</a>]
    &nbsp;
    [<a href="/training/studentlist">List</a>]
    &nbsp;

    [<a href="/training/studentadd">Add</a>]
    &nbsp;
    [<a href="/training/studentsearch">Search</a>]
</div>

{% block body %}

{% endblock %}

</body>
</html>