{% extends 'student_master.html'%}
{% block body%}
<h2>Search Students</h2>
<form>
    Name <input type="text" name="sname" value="{{sname}}"/>
    <input type="submit" value="Search"/>
</form>

{% if students %}
<p></p>
<table style="width:100%" border="1" cellpadding="5pt">
    <tr style="background-color:silver;">
        <th>Id</th>
        <th>Fullname</th>
        <th>Email</th>
        <th>Course</th>
        <th>Fee Paid</th>
        <th></th>
    </tr>
    {% for s in students %}
    <tr>
        <td>{{s.id}}</td>
        <td>{{s.fullname}}</td>
        <td>{{s.email}}</td>
        <td>{{s.course}}</td>
        <td style="text-align:right">{{s.feepaid}}</td>
        <td style="text-align:center">
            <a href="/training/studentedit/?id={{s.id}}">Edit</a>
            <a onclick="return confirm('Do you want to delete student?')"
               href="/training/studentdelete/?id={{s.id}}">Delete</a>
        </td>

    </tr>
    {% endfor %}
</table>
{% else %}
    {%if length == 0 %}
      <h3>Sorry! No student found!</h3>
    {% endif %}
{% endif %}

{% endblock %}